<p id="notice"><%= notice %></p>

<p>
  <b>First name:</b>
  <%= @leader.fname %>
</p>

<p>
  <b>Last name:</b>
  <%= @leader.lname %>
</p>

<p>
  <b>Phone:</b>
  <%= @leader.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @leader.email %>
</p>


<%= link_to 'Edit', edit_leader_path(@leader) %> |
<%= link_to 'Back', leaders_path %>
