<%= simple_form_for(@clubber) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :parents %>
    <%= f.input :birth_date %>
    <%= f.input :address %>
    <%= f.input :city %>
    <%= f.input :zip %>
    <%= f.input :phone %>
    <%= f.input :email %>
    <%= f.association :rank, :collection => Rank.all, :label_method => :title, :prompt => "Choose a rank" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
