<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @award.description %>
</p>

<p>
  <b>Rank:</b>
  <%= @award.rank %>
</p>

<%= link_to 'Edit', edit_award_path(@award) %> |
<%= link_to 'Back', awards_path %>
